{% extends 'base.html' %}

{% block content %}
  <form class="container" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1> Update Student Details </h1>

    <div class="mb-3">
        <label for="Fullname" class="form-label">Full name</label>
        <input type="text" class="form-control" id="Fullname" name="name" value="{{ student.name }}" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{ student.email }}" required>
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" name="address" value="{{ student.address }}" required>
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{ student.phone }}" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="{{ student.password }}" required>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Upload New Photo (Optional)</label>
      <input class="form-control" type="file" id="formFile" name="photo">
      {% if student.photo %}
        <p>Current Photo:</p>
        <img src="{{ student.photo.url }}" alt="Student Photo" width="150">
      {% endif %}
    </div>
      
    <button type="submit" class="btn btn-success">Update</button>
  </form>

{% endblock %}
